@model employeeManagementApp.web.Models.CreateEmployeeModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Create</title>
</head>
<body>
  <h1>Create Employee</h1>
    <div>
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.FirstName)
                        </div>
                        <div>
                            @Html.EditorFor(model => model.FirstName)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.MiddleName)
                        </div>
                        <div>
                            @Html.EditorFor(model => model.MiddleName)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.LastName)
                        </div>
                        <div>
                            @Html.EditorFor(model => model.LastName)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.BirthDate)
                        </div>
                        <div>
                            <input type="date" name="BirthDate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.HireDate)
                        </div>
                        <div>
                            <input type="date" name="HireDate">


                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Department)
                        </div>
                        <div>
                            @Html.EditorFor(model => model.Department)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.JobTitle)
                        </div>
                        <div>
                            @Html.EditorFor(model => model.JobTitle)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3" >
                            @Html.LabelFor(model => model.Salary)
                        </div>
                        <div>
                            @Html.EditorFor(model => model.Salary)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.EmployeeId)
                        </div>
                        <div>
                            @Html.EditorFor(model => model.EmployeeId)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.AvailableHours)
                        </div>
                        <div>
                            @Html.EditorFor(model => model.AvailableHours)
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-12">

            </div>
            <div class="col-md-10">
                <button class="btn btn-secondary" type="submit">Create</button>
                <button class="btn btn-secondary" type="reset">Clear</button>
            </div>
        </form>
    </div>
</body>
</html>
 